:root {
  --color-background: #f0f4f8;
  --color-primary: #2b6777;
  --color-secondary: #c8d8e4;
  --color-text: #222;
  --color-highlight: #52ab98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url(images/clouds.jpg);
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  box-shadow: 0 3rem 3rem rgba(0,0,0,0.4);
}

.app-header {
  text-align: center;
  margin-bottom: 2rem;
  
}

.app-header h1 {
  font-size: 2.5rem;
  color: var(--color-secondary);
  text-shadow: 0 0.2rem 0.2rem rgba(13, 13, 13, 0.9);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.app-main {
  background: var(--color-secondary);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.weather-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group label {
  color:var(--color-highlight);
  font-size: 1rem;
  left: 1rem;
  position: absolute;
  top: 1rem;
  transition: 0.5s;
}

.form-group input:focus ~ label,
.form-group textarea:focus ~ label,
.form-group input:valid ~ label,
.form-group textarea:valid ~ label {
  color:var( --color-primary);
  font-size: 0.9rem;
  transform: translateY(-2.5rem);
}


.form-group input,
.form-group textarea {
  text-align: center;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--color-highlight);
  border-radius: 0.5rem;
  outline: none;
}

.form-group textarea {
  resize: none;
  height: 60px;
}

#generate {
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#generate:hover {
  background: var(--color-highlight);
}

.recent-entry {
  margin-top: 2rem;
  text-align: center;
}

.recent-entry h2 {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.entry-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.entry-item i {
  color: var(--color-primary);
  font-size: 1.2rem;
}

.entry-item span {
  font-size: 1rem;
  color: var(--color-text);
}
